.devicon-github-plain {
    font-size: 2rem
}

.devicon-cplusplus-plain{
    font-size: 2rem
}

.devicon-nodejs-plain{
    font-size: 2rem
}

.devicon-css3-plain {
    font-size: 2rem
}

.devicon-java-plain-wordmark {
    font-size: 2rem
}